<AuthorizeView>
    <Authorized>
        <a href="Logout">Wyloguj</a>
    </Authorized>
    <NotAuthorized>
        <a href="api/auth/login-facebook?callback=login">Zaloguj</a>
    </NotAuthorized>
</AuthorizeView>
