<AuthorizeView>
    <Authorized>
        <a href="Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="api/auth/login-facebook?callback=login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
