@page "/users"
@using GasWeb.Shared.Users
@inject GasWebClient Client

<h1>Użytkownicy</h1>

<ErrorDisplay Errors="errors">
    @if (users == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Rola</th>
                    <th>Aktywny</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Role</td>
                        <td>@user.Active</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</ErrorDisplay>

@code {
    IReadOnlyCollection<User> users;
    IReadOnlyCollection<string> errors;

    protected override async Task OnInitializedAsync()
    {
        var usersResponse = await Client.Users.GetList();
        errors = usersResponse.Errors;

        if (usersResponse.Successful)
        {
            users = usersResponse.Result;
        }
    }
}
